.card {
    display: inline-block;
    text-align: center;
    background:  #0ef;
    border-radius: 0.5rem;
    border-width: 2rem;
    margin: 1.5rem;
    padding: 0.5rem;
    box-shadow: 4px, 4px, 8px, 0px rgba(0,0,0,0.2);
    transition: 0.25s ease-out;
    color: #1f242a;
}

.card:hover {
    transform: scale(1.1);
    box-shadow: 0 0 1rem #0ef;
}

/* tc bg-light-green dib br3 pa3 ma2 grow bw2 shadow-5 */